.fondoBarra{
    background-color: turquoise !important;
}
.imagenp{text-align: center;}
h3{text-align: center;}
.imagens{text-align: center;}
.mb-3{background-color: rgb(57, 243, 228);text-align: center;}
.video1{text-align: center;}
body{background-color: rgb(245, 188, 245);}